/* Anuncio */
main {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.anuncio-tarjeta {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  width: 100%;
  max-width: 550px;
  border-radius: 2em;
  padding: 1em;
  gap: 1em;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.anunciante,
.anunciante div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.anunciante {
  justify-content: space-between;
}

.anunciante img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.perfil {
  display: flex;
  gap: 1em;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

#favorito {
  display: none;
}
label[for='favorito'] {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
label[for='favorito'] svg {
  width: 2em;
  height: 2em;
}

#favorito:checked + label[for='favorito'] svg > path {
  fill: #e11d48;
}

.chat {
  display: flex;
  align-items: center;
  justify-content: center;
}

label[for='favorito'],
.chat {
  padding: 0.25em 2em;
  border: 1px solid var(--border-color);
  border-radius: 2em;
}
.imagenes-anuncio {
  overflow: hidden; /* Oculta las imágenes que exceden el ancho del carrusel */
}

.carrusel {
  display: flex; /* Para alinear las imágenes horizontalmente */
  transition: transform 0.5s ease; /* Añade transición para un desplazamiento suave */
}

.carrusel img {
  min-width: 100%;
  width: 100%; /* Ancho de cada imagen */
  max-width: 500px; /* Ancho mínimo para cada imagen */
  object-fit: cover; /* Altura automática para mantener la proporción */
}

.botones-carrusel {
  margin: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.boton-carrusel:disabled svg path {
  fill: var(--input-color);
}

.boton-carrusel svg {
  width: 2em;
  height: 2em;
}

.boton-carrusel svg path {
  fill: var(--primary-color);
}

.info-anuncio {
  line-height: 1.5;
}

.categoria {
  text-decoration: none;
  color: var(--text-color);
  padding: 1em 2em;
  width: fit-content;
  border: 1px solid var(--border-color);
  border-radius: 2em;
}

.categoria:hover {
  background-color: var(--input-color);
}

.precio {
  font-size: 1.5em;
  font-weight: bold;
}
