main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.perfil{
    display: flex;
    flex-direction: row;
    background-color: var(--background-color);
    width: fit-content;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5em;
    padding: 1em;
    gap: 2em;
    border: 2px solid var(--border-color);
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.perfil a {
    padding-inline: 2em;
    padding-block: 0.5em;
    border: 2px solid var(--border-color);
    border-radius: 2em;
}

.anuncios {
    grid-template-columns: repeat(2, 1fr);
    place-items: normal;
    width: 
    fit-content;
}

.anuncio-card{
    box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);

}

#avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--border-color);
    max-width: 10em;
    max-width: 10em;
    aspect-ratio: 1;
    object-fit: cover;
}