@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

input,
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}
img {
  width: 100%;
}
h1 {
  font-family: 'Poppins', sans-serif;
}
:root {
  --border-color: #666;
  --primary-color: #13c1ac;
  --text-color: #000;
  --background-color: #fff;
  --input-color: #afafaf;
}
body {
  min-height: 100vh;
  font-size: 1em;
  color: var(--text-color);
  display: grid;
  min-width: 100%;
  background-color: var(--primary-color);
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 75fr 15fr;
}
body.dark {
  --border-color: #fff;
  --primary-color: #0b8f7f;
  --text-color: #fff;
  --background-color: #000;
  --input-color: #333;
}

.icon {
  width: 2em;
  height: 2em;
  color: var(--primary-color);
  fill: var(--primary-color);
}

.icon > * {
  color: var(--primary-color);
  fill: var(--primary-color);
}

/* Estilos para el header */

header {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  width: 100%;
  height: fit-content;
  grid-area: 'header';
  background-color: var(--background-color);
  color: var(--text-color);
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  padding: 1em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.logo-nombre {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 1em;
}

header form {
  display: flex;
  width: fit-content;
  max-width: 120px;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 2em;
  border: 1px solid var(--border-color);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
header form .icon {
  margin: 0 1em 0 0;
}
header form input {
  color: var(--text-color);
  height: min-content;
  padding: 0.5em 1em;
  width: 100%;
}
header form input:focus {
  outline: none;
}

.navs {
  display: flex;
  gap: 2em;
}

.menu-toggle,
.menu-filter {
  cursor: pointer;
  position: relative;
}

/* Navegador del Header (Luego se hara con un boton) */

nav ul {
  display: none;
  list-style: none;
}

.show {
  background-color: var(--background-color);
  position: absolute;
  right: 1em;
  display: flex;
  flex-direction: column;
}

.show li a,
.show li label {
  display: flex;
  padding: 1em;
  width: 100%;
  gap: 0.5em;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
}

.show li a:hover,
.show li label:hover {
  background-color: var(--input-color);
}

/* Estilos para el footer */

footer {
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: space-around;
  gap: 1em;
  width: 100%;
  height: fit-content;
  grid-area: 'footer';
  background-color: var(--background-color);
  color: var(--text-color);
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  padding: 1em;
  box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25);
}

footer p {
  font-size: 0.75em;
}

body footer .logo-empresa {
  filter: invert(100%);
}

body.dark footer .logo-empresa {
  filter: invert(0%);
}

/* Home */

.anuncios {
  display: grid;
  place-items: center;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 1em;
}

.anuncio-card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: var(--background-color);
  padding: 1em;
  border-radius: 2em;
  width: 100%;
  max-width: 300px;
  border: 2px solid var(--border-color);
}

.anuncio-card a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Responsive */

@media screen and (min-width: 500px) {
  header form {
    max-width: 100%;
  }
}

/* Deberia de estar en otro archivo */
main {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.anuncio-tarjeta {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  width: 100%;
  max-width: 550px;
  border-radius: 2em;
  padding: 1em;
  gap: 1em;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.anunciante,
.anunciante div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.anunciante {
  justify-content: space-between;
}

.anunciante img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.perfil {
  display: flex;
  gap: 1em;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

#favorito {
  display: none;
}
label[for='favorito'] {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
label[for='favorito'] svg {
  width: 2em;
  height: 2em;
}

#favorito:checked + label[for='favorito'] svg > path {
  fill: #e11d48;
}

.chat {
  display: flex;
  align-items: center;
  justify-content: center;
}

label[for='favorito'],
.chat {
  padding: 0.25em 2em;
  border: 1px solid var(--border-color);
  border-radius: 2em;
}
.imagenes-anuncio {
  overflow: hidden;
}

.carrusel {
  display: flex;
  transition: transform 0.5s ease;
}

.carrusel img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1em;
}

.botones-carrusel {
  margin: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.boton-carrusel:disabled svg path {
  fill: var(--input-color);
}

.boton-carrusel svg {
  width: 2em;
  height: 2em;
}

.boton-carrusel svg path {
  fill: var(--primary-color);
}

.info-anuncio {
  line-height: 1.5;
}

.categoria {
  padding: 1em 2em;
  width: fit-content;
  border: 1px solid var(--border-color);
  border-radius: 2em;
}

.categoria:hover {
  background-color: var(--input-color);
  /* Va a ser un enlace? */
  cursor: pointer;
}

.precio {
  font-size: 1.5em;
  font-weight: bold;
}

/* ConfigMenu */

.configMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2em;
  background-color: var(--background-color);
  height: fit-content;
}

.configMenu a {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 2em;
  text-decoration: none;
  color: var(--text-color);
}

.configMenu a:hover {
  background-color: var(--input-color);
  cursor: pointer;
}

.configPerfil {
  border-bottom: 2px solid var(--border-color);
}

.configPerfil:hover {
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
}

.configFavorito:hover,
.configProducto:hover {
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
}

/* configPerfil */

.configPerfilMenu {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: fit-content;
}

.configPerfilMenu input {
  background-color: var(--background-color);
  padding: 1em;
  border-radius: 0.5em;
  color: var(--text-color);
  outline: none;
}

.configPerfilMenu a {
  background-color: var(--background-color);
  text-align: center;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  border: 2px solid var(--border-color);
}

.configPerfilMenu a:hover {
  background-color: var(--input-color);
}

/* Lector de imagenes */
.imagen-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.imagen-grupo {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.imagen-input div input {
  display: none;
}
.imagen-input div {
  justify-content: center;
  align-items: center;
}
.imagen-input div label {
  color: var(--text-color);
  font-size: 1em;
  background-color: var(--background-color);
  line-height: normal;
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  width: 100%;
  cursor: pointer;
  border: 2px solid var(--border-color);
}
.imagen-input div label:hover {
  background-color: var(--input-color);
}
#avatar {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--border-color);
}

/* AnuncioMenu */

.tarjeta-anuncio {
  display: flex;
  justify-content: center;
  border-radius: 2em;
  gap: 1em;
  background-color: var(--background-color);
  height: fit-content;
  max-width: 550px;
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.tarjeta-anuncio img {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  overflow: auto;
  object-fit: cover;
}

.tarjeta-anuncio-texto {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.texto-cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.texto-descripcion {
  padding: 1em;
}
.texto-cabecera a {
  text-decoration: none;
}

.texto-cabecera svg {
  width: 2em;
  height: 2em;
}

.texto-cabecera .corazon > path {
  fill: #e11d48;
}

/* ConfigAnuncio */

.configAnuncio {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
  gap: 2em;
}

#eliminarAnuncio {
  padding: 1em;
  border-radius: 1em;
  background-color: var(--background-color);
  border: 2px solid #e11d48;
  color: var(--text-color);
  text-decoration: none;
}

#eliminarAnuncio:hover {
  background-color: #e11d48;
  border: 2px solid var(--border-color);
}

.configAnuncio input,
.configAnuncio select,
.configAnuncio textarea {
  background-color: var(--background-color);
  padding: 1em;
  border-radius: 0.5em;
  color: var(--text-color);
  width: 100%;
}

.configAnuncio a {
  background-color: var(--background-color);
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  border: 2px solid var(--border-color);
}

.configAnuncio input:focus,
.configAnuncio select:focus,
.configAnuncio textarea:focus {
  outline: none;
}

.configAnuncio a:hover {
  background-color: var(--input-color);
}

.precioAnuncio {
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: var(--background-color);
  border-radius: 0.5em;
  padding-right: 0.5em;
  width: 100%;
}

.tabla{
  background-color: var(--background-color);
  border-radius: 0.5em;
  border: 2px solid var(--border-color);
}

/* Admin */

main{
  display: flex;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  gap: 	2em;
}

.busqueda{
  display: flex;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0.5em;
  border-radius: 0.5em;
}

.busqueda form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.busqueda input{
  outline: none;
}

.filtro form{
  display: flex;
  gap: 2em;
}

.filtro form input[type='button']{
  padding: 1em;
  background-color: var(--background-color);
  border-radius: 0.5em;
  border: 2px solid var(--border-color);
}
.filtro form input[type='button']:hover{
  background-color: var(--input-color);
}

/* Error 404*/

.mensaje {
  width: 100%;
  max-width: 80em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font: 400 0.75em/1.5 'Neuton';
  color: var(--text-color);
  display: inline-block;
  border: 4px double var(--text-color);
  border-width: 4px 0;
  padding: 1.5em 0em;
}

.error {
  font:
    700 4em/1 'Oswald',
    sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  background: url('/assets/img/404_animation.png')
    repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: anim 100s linear infinite;
}

@-webkit-keyframes anim {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes anim {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}
