@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

input,
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}
img {
  width: 100%;
}
h1 {
  font-family: 'Poppins', sans-serif;
}
:root {
  --border-color: #666;
  --primary-color: #0490da;
  --text-color: #000;
  --background-color: #fff;
  --input-color: #afafaf;
}
body {
  min-height: 100vh;
  font-size: 1em;
  color: var(--text-color);
  display: grid;
  min-width: 100%;
  background-color: var(--primary-color);
  grid-template-areas:
    'header'
    'content'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 75fr 15fr;
}
body.dark {
  --border-color: #fff;
  --primary-color: #004fa3;
  --text-color: #fff;
  --background-color: #000;
  --input-color: #333;
}

.icon {
  width: 2em;
  height: 2em;
  color: var(--primary-color);
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

.icon > * {
  color: var(--primary-color);
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

/* Estilos para el header */

header {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  width: 100%;
  height: fit-content;
  grid-area: 'header';
  background-color: var(--background-color);
  color: var(--text-color);
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  padding: 1em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.logo-nombre {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 1em;
}

header form {
  display: flex;
  width: fit-content;
  max-width: 120px;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 2em;
  border: 1px solid var(--border-color);
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
header form .icon {
  margin: 0 1em 0 0;
}
header form input {
  color: var(--text-color);
  height: min-content;
  padding: 0.5em 1em;
  width: 100%;
}
header form input:focus {
  outline: none;
}

.navs {
  display: flex;
  gap: 2em;
}

.menu-toggle,
.menu-filter {
  cursor: pointer;
  position: relative;
}

/* Navegador del Header (Luego se hara con un boton) */

nav ul {
  display: none;
  list-style: none;
}

.show {
  background-color: var(--background-color);
  position: absolute;
  right: 1em;
  display: flex;
  flex-direction: column;
}

.show li a,
.show li label {
  display: flex;
  padding: 1em;
  width: 100%;
  gap: 0.5em;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
}

.show li a:hover,
.show li label:hover {
  background-color: var(--input-color);
}

/* Estilos para el footer */

footer {
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: space-around;
  gap: 1em;
  width: 100%;
  height: fit-content;
  grid-area: 'footer';
  background-color: var(--background-color);
  color: var(--text-color);
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  padding: 1em;
  box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.25);
}

footer p {
  font-size: 0.75em;
}

body footer .logo-empresa {
  filter: invert(100%);
}

body.dark footer .logo-empresa {
  filter: invert(0%);
}

/* Home */

.anuncios {
  display: grid;
  place-items: center;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 1em;
}

.anuncio-card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: var(--background-color);
  padding: 1em;
  border-radius: 2em;
  width: 100%;
  max-width: 300px;
  border: 2px solid var(--border-color);
}

.anuncio-card a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Responsive */

@media screen and (min-width: 500px) {
  header form {
    max-width: 100%;
  }
}
