
/* Home */

.anuncios {
  display: grid;
  place-items: center;
  min-height: 75vh;
  grid-template-columns: 1fr;
  overflow: auto;
  gap: 2em;
  padding-block: 0.5em;
}

.anuncio-card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: var(--background-color);
  padding: 1em;
  border-radius: 2em;
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 400px;
  border: 2px solid var(--border-color);
  box-shadow: 0px 0px 4px 4px var(--shadow-color);
  min-width: 300px;
  min-height: 400px;
}

.anuncio-card p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  min-width: 100%;
}

.anuncio-card a {
  text-decoration: none;
  color: var(--text-color);
}

.anuncio-card a span{
  text-decoration: none;
  color: var(--primary-color);
}

.anuncio-card a span:hover{
  text-decoration: underline;
  color: var(--primary-color);
}

.anuncio-card img {
  aspect-ratio: 1;
  object-fit: cover;
}

@media screen and (min-width: 650px) {
  
  .anuncios{
    grid-template-columns: repeat(2,1fr);
  }

}

@media screen and (min-width: 1000px) {
  .anuncios{
    grid-template-columns: repeat(3,1fr);
  }
  
}