/* ConfigMenu */

.configMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 2em;
  height: fit-content;
  gap: 1em;
}

.configMenu a {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 2em;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--background-color);
}


.configPerfil,
.configFavorito,
.configProducto{
  border-radius: 2em;
  background-color: var(--background-color);
}

.configPerfil:hover,
.configFavorito:hover,
.configProducto:hover {
  border-radius: 2em;
  background-color: var(--input-color);
  cursor: pointer;
}
